@import '@/styles/__settings';

.resultsCard {
  display: flex;
  flex-direction: column;

  @include desktop() {
    flex-direction: row;
    background-color: $white;
    border-radius: $border-radius;
  }
}
