@import '@/styles/__settings';

.avatar {
  display: flex;
  flex-direction: column;
  height: toRem(140);
  width: toRem(140);
  border-radius: 50%;
  background: $gradient2;
  @include center();

  @include desktop() {
    height: toRem(200);
    width: toRem(200);
  }

  .number {
    font-weight: 800;
    font-size: toRem(56);
    line-height: toRem(72);
    color: $white;

    @include desktop() {
      font-size: toRem(72);
    }
  }

  .of {
    font-weight: 700;
    font-size: toRem(16);
    line-height: toRem(21);
    color: $lightBlue;
    mix-blend-mode: normal;
    opacity: 0.52;

    @include desktop() {
      font-size: toRem(18);
      line-height: toRem(23);
    }
  }
}
