$gradient1: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
$gradient2: linear-gradient(
  180deg,
  #4d21c9 0%,
  rgba(37, 33, 201, 0) 100%,
  rgba(37, 33, 201, 0) 100%
);
$yellow: #ffb21e;
$yellowWhite: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  ),
  #ffb21e;
$blue: #1125d6;
$blueWhite: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  ),
  #1125d6;
$green: #00bb8f;
$greenWhite: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  ),
  #00bb8f;
$red: #ff5555;
$redWhite: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  ),
  #ff5555;
$navy: #303b59;
$lightBlue: #cac9ff;
$veryLightBlue: #ecf2ff;
$white: #ffffff;
