@import './_settings';

html,
body {
  padding: 0;
  margin: 0;
  background: $white;

  @include desktop() {
    background: $veryLightBlue;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
